
.box {
    position: relative;
    width: 90%; 
    padding: 0; 
    margin-top: 20px ; 
    margin: 20px auto; 
    border-radius: 5px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.454);
    border-radius: 5px;  
    /* border: 2px solid white;  */
    z-index: -1;
  }
 
  .trophy{
    width: 70%; 
    margin: auto; 
  }

  .calandar{
    background-color: rgb(0, 0, 0);  
    margin: 8px auto; 
    text-align: center; 
    padding: 10px 0; 
    border-radius: 20px;  
    color: white; 
    /* width: 96%;   */
  }
  
  .calandar>*{ 
    border: 2px solid rgb(0, 0, 159);   
    border-radius: 20px; 
    padding: 26px;  
    margin: auto;  
  } 

  .grid{
    display: grid; 
    grid-template-columns: repeat(2,1fr);   
    gap: 20px;  
    padding: 10px;
  }   

  .grid>*{
    margin: auto;  
    border: 2px solid rgb(0, 0, 159);  
    border-radius: 20px;  
    height: 100%;  
  } 

  @media screen and (min-width: 100px) and (max-width: 920px){ 
    .box{ 
        display: grid;   
    } 

    .grid{
      grid-template-columns: repeat(1,1fr);   
    }
    .grid *{
      width: 100%;  
    } 
    
  }



