.main {
  margin: 20px auto 0 auto;  
  padding: 10px 0; 
  display: flex; 
  align-items:flex-start;    
} 

.main>div:nth-child(1){
  flex: 3;
  color: white;  
}

.main>div:nth-child(2){
  flex: 2; 
  /* border: 2px solid rgb(255, 255, 255); */

}

/* ================== */

.box { 
  display: grid; 
  width: 90%; 
  padding: 50px 0px;
  margin: auto; 
  margin-top: 60px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.938);
  border-radius: 5px; 
  text-align: center;
  z-index: -1;
} 


.box>h5{
  color: white; 
}

.buttonbox{ 
  margin: 30px auto; 
  width: 300px;
  /* border: 1px solid rgb(255, 255, 255); */
}
 
 
/* =================== */


/* #mypic {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  width: 280px; 
  aspect-ratio: 3/2; 
  object-fit: contain; 
  height: 300px;
} */

.picspace{
  position: relative; 
  /* border: 5px solid rgb(81, 255, 0);      */
  height: 300px; 
  margin: auto; 
}

.circle{
  background-color: rgba(0, 0, 0, 0.676);  
  margin: auto; 
  border: 2px solid rgba(36, 36, 255, 0.765);   
  /* box-shadow: rgba(46, 62, 240, 0.4) 5px -5px, rgba(46, 53, 240, 0.3) 10px -10px, rgba(56, 46, 240, 0.2) 15px -15px, rgba(46, 59, 240, 0.1) 20px -20px, rgba(46, 59, 240, 0.05) 25px -25px;  */
  border-radius: 100%;  
  width: 260px;   
  height: 260px; 
  overflow: hidden; 
}

/* ================ */ 
/* .picback {
  background-color: rgb(43,108,176); 
  width: 200px;
  height: 300px;
  position: absolute;
  aspect-ratio: 3/2; 
  object-fit: contain; 
  z-index: -2;
  top: 0px;
} */

/* .picback2 {  
    clip-path: circle(48.0% at 50% 50%); 
    clip-path: polygon(0 0, 40% 0, 100% 52%, 100% 100%, 69% 100%, 0 39%);   
    background-color: rgb(251, 255, 0);
    width: 280px;
    height: 300px;
    margin: -80px -80px; 
    position: absolute;
    z-index: -4; 
    top: 0px; 
  } */

  /*
    aspect-ratio: 4/3;  
    height: 300px;
    object-fit: contain;   */

#im2{
  width: 220px ;  
}

/* ============== */
.aboutdetail { 
  color: rgb(47, 47, 47);
  height: 200px 0; 
  margin: auto; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: padding 0.4s;  
  text-align: left; 
  /* background-color: rgba(255, 255, 255, 0.589); */
  border-radius: 20px;
  font-size: large;
} 

.headline > h1 {
  font-size: 40px;
  text-shadow: 0.08em 0.08em 0.08em rgb(0, 55, 255);
  /* border: 2px solid black; */
}

@media screen and (min-width: 550px) and (max-width: 920px) {
  .main {
    display: grid;
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .main > * {
    margin: auto;
    text-align: center;
    /* border: 2px solid red;  */
  }
  .picspace{
    margin-top: 60px;
  }
  
}

@media screen and (min-width: 150px) and (max-width: 550px) {
    .main {
      display: grid;
      margin: auto;
      width: 100%;
      text-align: center;
    }
    .main > * {
      margin: auto;
      text-align: center;
      /* border: 2px solid red;  */
    } 
    .picspace{
      margin-top: 60px;
    }
  }
  

/* mobile */  



