.box {
    position: relative;
    display: inline-block;
    width: 90%; 
    padding: 80px 00px;
    margin-top: 60px ;   
    border-radius: 5px;  
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); 
    color: white; 
    z-index: -1;
    text-align: center; 
  }
  
  /* ---------  */

.box>img{  
    /* border: 2px solid black;  */ 
    margin: 20px auto; 
}

.h3{ 
    font-size: 35px;
    margin: 10px 0; 
} 

.h4{
    width: 70%; 
    font-size: large;
    margin: auto; 
    color: rgb(255, 255, 255);
    line-height: 30px; 
    font-weight: bolder;
} 

@media screen and (min-width: 100px) and (max-width: 900px) {
  .box{
    margin-top: 0px; 
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
    .h4>span{
        display: none;
    }
}


 
