
.box{
    display: flex;  
    align-items: center;   
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
    background-color: white; 
    color: black;  
    padding: 2px ;  
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    gap: 40px;
    z-index: 3; 
}  

.optn{
    flex: 4; 
    /* border: 2px solid black; */
    display: flex; 
    align-content: center;  
    justify-content: space-around; 
}

.optn>h3{ 
    font-size: 20px;   
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);  
    cursor: pointer; 
} 

.optn>h3:hover{  
    transform: scale(1.08, 1.08);
} 

.imgs{
    flex: 1; 
    width: 200px; 
} 

.imgs>img{ 
    /* border: 2px solid black; */  
    width: 200px;  
}

.hambr{ 
    display: none; 
} 


@media screen and (min-width: 140px) and (max-width: 920px) {
    .optn{
        display: none;  
    } 
    .imgs{
        margin: 0; 
    }
    .imgs>img{
        margin-left: 20px; 
    }
    .hambr{
        display: block; 
        flex: 1; 
        text-align: end; 
        padding-right: 30px; 
    } 
}

