.main {
  background-image: url("https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -3;
}

.box {
  background-color: rgb(230, 234, 255);
  display: flex;
  width: 400px;
  margin: auto;
  padding: 6px;
  border-radius: 150px;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

.box > div {
  padding: 10px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease-in-out;
}

.box > div:hover {
  transform: scale(1.4);
  /* background-color: rgb(0, 0, 0);   */
  color: rgb(4, 0, 255);
}

.box > div:active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.bottomNav {
  position: fixed;
  width: 100%;
  display: none;
  align-items: center;
  bottom: 10px;
  background-color: unset;
  z-index: 1000;
}

/* my social media Links */

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-left: 10%;
  position: absolute;
  left: 0;
  bottom: 3rem;
  background-color: green;
}

.header_socials::after {
  content: "";
  width: 2px;
  height: 3rem;
  background: rgb(255, 247, 0);
}

.topnav {
  width: 100%;
  /* background-color: black;  */
  z-index: 100;
  position: fixed;
  height: 66px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.namelogo {
  flex: 4;
}

.namelogo img {
  width: 240px;
  margin: 0;
}

.topoption {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.4s ease-in-out;
  flex: 3;
  color: white; 
  padding-right: 20px; 
}

.topoption > div {
  margin: 10px 30px;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.topoption > div::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.topoption > div:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: rgb(0, 0, 255);
}

.topoption > div:active {
  transform: scale(1);
  color: white;
}

.topoption > div:hover::after {
  opacity: 1;
}

@media screen and (min-width: 380px) and (max-width: 920px) {
  .bottomNav {
    display: grid;
  }

  .topnav {
    display: none;
  }
  .main {
    /* background-image: url("https://i.pinimg.com/564x/41/11/e2/4111e20de340b24e0afeed1aa7ca4383.jpg");  */
    background-image: url("https://images.pexels.com/photos/7989742/pexels-photo-7989742.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  }
}

@media screen and (min-width: 100px) and (max-width: 380px) {
  .bottomNav {
    display: grid;
  }

  .topnav {
    display: none;
  }
  .main {
    background-image: url("https://images.pexels.com/photos/5948349/pexels-photo-5948349.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  }
}
