body {
  margin: 0; 
  /* background-color: rgb(78, 138, 49);    */  
  /* background-image: url("https://images.pexels.com/photos/4097159/pexels-photo-4097159.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 100% 100%;  */
  z-index: -3;
  background-color: white; 
  font-family: "Audiowide", sans-serif;
}

* {
  margin: auto; 
  padding: 0;   
}

h1,h2,h3,h4,h5{
  color: black;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} 



